.modal-body{padding-bottom:10px;}
.checkbox input[type=checkbox]:checked + .checkbox-material .check{background-color: #9c27b0;}
.checkbox{padding-left:5px;margin-top:2px;margin-bottom:2px !important;}
.bdr-rgt {border-right: solid 4px #cfcfcf;}
.form-control:invalid {
    background-image: linear-gradient(to top, #9c27b0 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
..dropbtn { background:#f5f5f5; color: #464646; font-size:16px; border: none; cursor: pointer;}
.dropbtn:hover, .dropbtn:focus { background-color:#cfcfcf;}
.dropdown-nav { position: relative; display: inline-block;max-width:80px;}
.dropdown-nav:hover > .dropdown-content { display:block}
.dropdown-content { display: none; position: absolute;	 background-color: #fff; width: auto; overflow: auto; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 99; right:21px; top:0;padding: 5px;}
.dropdown-content ul{ list-style:none; margin:0 auto; padding:0 0;}
.dropdown-content ul li{ width:110px; clear:both; text-align:left}
.dropdown-content ul li a { color: black; padding: 5px 5px; text-decoration: none; display: block; white-space:nowrap; float:left}
.dropdown-content ul li a:hover {background-color: #eaeaea;}
.dropdown-content a i{ font-size:12px}
.show {display: block;}
/* .table-responsive{ overflow:visible} */
.dropdown-nav:hover > .dropdown-content { display:block}

.form-control:disabled, .form-control[readonly]{background-color:transparent;}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width:90%;
  white-space:nowrap;
  overflow:hidden;
  background:#FFF;
  transition:all 0.2s;}
.custom-file-upload:hover{ box-shadow: 1px 2px 4px #999;}
.custom-file-upload span{ position:absolute; z-index:99; background:#000; width:32px; height:32px; right:0; top:0;}
.green{ background:#00a100; color:#fff;}
.orange{ background:#ff9800; color:#fff;}
.upload-red{ background:#ff2109; color:#fff;}
.active{ color:green}
.inactive{ color:red}
.tr-green{ background:green}
.tr-red{    border: solid;border-color: red;}

.loader-bg{width:100%;height:100%;background:rgba(0,0,0,.6);-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position:fixed; z-index:9999;margin:0 auto !important; top:0 !important;left:0 !important;}
.loader{padding:0 0;margin:0 auto;border:10px solid #fff;border-radius:50%;border-top:10px solid #007fff;border-bottom:10px solid #007fff;width:50px;height:50px;-webkit-animation:spin 2s linear infinite;animation:spin 1s linear infinite;position:relative;top:48%}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}
@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.dropdown-menu li.active a{color:#000;}
.dropdown-menu li.sub-active a{color:cyan;}
.remove-doc{background:transparent !important;color:red;font-size:20px;float:right;position: absolute;margin-left: 4px;margin-top: 4px;cursor:pointer;}
.sub_id.form-control:read-only {background:none;}
.req{color:red;}

.dataTables_wrapper {overflow:visible !important;}
.dropdown-menu li a{white-space:nowrap; width:auto; padding:10px; display:inline; margin:0 auto}
.cookies {
	position: fixed;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	height: auto;
	text-align: center;
	z-index: 99999 !important;
	bottom: 0;
	padding:10px 0;
}

.cookies p {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 15px 0;
	width: 60%;
	margin: 0 auto;
}

.cookies p strong {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px
}

.cookies p a {
	background: #007fff;
	padding: 10px;
	transition: all 0.3s;
	border: solid 1px #fff;
	border-radius:50px;
	color:#fff;
}

.cookies p a:hover {
	background: #fff;
	padding: 10px;
	color: #007fff;
	border: solid 1px #077fff
}

.cookies .cks-cls {
	float: right;
	position: absolute;
	right: 80px;
	text-decoration: none;
	color: #000;
	top: 15px;
	border: solid 1px #cfcfcf;
	padding: 3px 7px;
	border-radius: 50%;
	background: #cfcfcf;
	cursor: pointer;
	transition: all 0.3s;
}

.cookies .cks-cls:hover {
	background: purple;
	color: #fff;
}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
	margin-bottom:20px;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
	width:20% !important;	
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    -webkit-border-radius: 15px;
	top:-5px;
	-webkit-appearance: listbox !important;
}

.row{width:100%;}
	.table thead tr th{font-weight:bold;font-size:13px;}
	.affiliationContact thead tr th{border: solid 1px #868686;}
	.affiliationContact tbody tr td{border: solid 1px #868686 !important;}
	.table tbody tr td{padding:8px;}
	.assurances{font-size:13px;}
	.assurances tbody tr td p{text-align:left;margin-bottom:0;}

.countdown{color: #962eaf !important;font-weight: bold !important;font-size: 22px !important;}
@media only screen and (max-width:1366px){
	.countdown p.timer{color: #962eaf !important;font-weight: bold !important;font-size: 22px !important;}
}
.logout{display:none !important;}
@media only screen and (max-width:991px){
	.logout{display:block !important;}
}
/* #dashboardContentInHTML{position:relative;min-height:100vh}
#dashboardContentInHTML .container-fluid{padding-bottom:80px;}
.footer{position: absolute;width: 100%;bottom:0;height:80px;} */

.blinking{
    animation:blinkingText 0.8s infinite;
    float:right;
    font-size:18px;
}
@keyframes blinkingText{
    0%{     color: #007fff;    }
    20%{    color: #ff0000; }
    50%{    color: #007fff; }
    80%{    color: #ff0000;  }
    100%{   color: #007fff;    }
}