body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{font-family:Arial, Helvetica, sans-serif;}
.tim-typo { padding-left: 25%; margin-bottom: 40px; position: relative; width: 100%;}
.tim-typo .tim-note { bottom: 5px; color: #c0c1c2; display: block; font-weight: 400; font-size: 13px; line-height: 15px; left: 0; margin-left: 20px; position: absolute; width: 260px;}
.offline-doc .navbar.navbar-transparent { padding-top: 25px; border-bottom: none;}
.offline-doc .navbar.navbar-transparent .navbar-minimize { display: none;}
.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link { color: #FFFFFF !important;}
.offline-doc .footer { z-index: 3 !important;}
.offline-doc .page-header .container { z-index: 3;}
.offline-doc .page-header:after { background-color: rgba(0, 0, 0, 0.5); content: ""; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 2;}
#map { z-index: 2; height: calc(100vh - 70px); margin-top: 70px;}


#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height:20px}
#cssmenu { width: 80%; margin:0 auto; color: #464646;}
#cssmenu ul ul { display: none;}
.align-right { float: right;}
#cssmenu > ul > li > a { padding: 15px 20px; cursor: pointer; z-index: 2; text-decoration: none; color: #888; line-height:22px;}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a { color: #464646;}
#cssmenu > ul > li.open > a{ }
#cssmenu > ul > li:last-child > a, #cssmenu > ul > li.last > a { }
.holder { width: 0; height: 0; position: absolute; top: 5px; right: 0;}
.holder::after, .holder::before { display: block; position: absolute; content: ""; width: 6px; height: 6px; right: 20px; z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);}
.holder::after { top: 18px; border-top: 2px solid #464646; border-left: 2px solid #464646;}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after { border-color: #464646;}
.holder::before { top: 18px; border-top: 2px solid; border-left: 2px solid; border-top-color: inherit; border-left-color: inherit;}
#cssmenu ul ul li a { cursor: pointer; padding: 10px 20px; z-index: 1; text-decoration: none; font-size: 13px; color: #888; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.open > a, #cssmenu ul ul li.active > a { color: #888;}
#cssmenu ul ul li:first-child > a { box-shadow: none;}
#cssmenu ul ul ul li:first-child > a { box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);}
#cssmenu ul ul ul li a { padding-left: 30px;}
#cssmenu > ul > li > ul > li:last-child > a, #cssmenu > ul > li > ul > li.last > a {border-bottom: 0;}
#cssmenu > ul > li > ul > li.open:last-child > a, #cssmenu > ul > li > ul > li.last.open > a { }
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {  border-bottom: 0;}
#cssmenu ul ul li.has-sub > a::after { display: block; position: absolute; content: ""; width: 5px; height: 5px; right: 20px; z-index: 10; top: 11.5px; border-top: 2px solid #464646;  border-left: 2px solid #464646; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg);}
#cssmenu ul ul li.active > a::after, #cssmenu ul ul li.open > a::after, #cssmenu ul ul li > a:hover::after {   border-color: #888;}
.sidebar[data-color="purple"] li.active > a{ background:#eeeeee; box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(238, 238, 238, 0.4);}
#cssmenu > ul > .green{background-color:#229f05 !important; padding:10px; border-radius:5px;}
.roll{margin-top:38px;}
.alert span{color:#fff;}
.card, .card .card-header, .card .card-body, .card .card-body #regForm{background-color: #f2e4f5;}
.card{margin-bottom: 40px;}
.sidebar{z-index:0 !important;}
/*================= Pie Chart =================*/

.chart { position: relative; width: 100%; height: 220px; background:#fff; padding:10px; }
.doughnutTip { position: absolute; min-width: 30px; max-width: 300px; padding: 5px 15px; border-radius: 1px; background: rgba(0, 0, 0, 0.8); color: #ddd; font-size: 12px; text-shadow: 0 1px 0 #000; text-align: center; line-height: 1.3; letter-spacing: .06em; pointer-events: none;}
.doughnutTip::after { position: absolute; left: 50%; bottom: -6px; content: ""; height: 0; margin: 0 0 0 -6px; border-right: 5px solid transparent; border-left: 5px solid transparent; border-top: 6px solid rgba(0, 0, 0, 0.7); line-height: 0;}
.doughnutSummary { position: absolute; top: 50%; left: 50%; color: #464646; text-align: center; cursor: default;}
.doughnutSummaryTitle { position: absolute; top: 50%; width: 100%; margin-top: -25%; font-size: 12px; letter-spacing: .06em;}
.doughnutSummaryNumber { position: absolute; top: 50%; width: 100%; font-size: 22px;}
.chart path:hover { opacity: 0.65;}
.pie-title{ width:100%; background:#fff; margin-top:30px; border-radius:5px; position:relative; padding:0 0;}
.pie-title h3{ background:orange; padding:5px 15px; color:#fff; border-radius:3px;}
.pie-title h4{ background:orange; padding:10px 15px; color:#fff; border-radius:3px;}
.class-stat{ background:#fff;  margin-bottom:25px; padding:10px; }
.class-stat p{ padding:0 0; margin:0 auto; font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:16px; float:left; width:50%;}
.ad-status{ margin-bottom:0px;}
.ad-status table{ margin:0 auto; padding:0 0; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.ad-status table tr th, .ad-status table tr td{ padding:10px; color:#fff;}
.ad-status table tr th:nth-child(1), .ad-status table tr td:nth-child(1){ color:#464646;}
.chart-9{ color:#fd9710}
.chart-10{ color:#53ac57}
.chart-11{ color:#ea4541}
.chart-12{ color:#16bbd0}
.clr{ clear:both;}

/*================= Pie Chart =================*/

.ovr{ width:100%; overflow:hidden; margin-top:20px}
.loader-bg-new{width:100%; height:100%;background:rgba(0,0,0,0.4); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position:absolute; overflow:hidden; z-index:999999;}
.loader-new { border: 10px solid #fff; border-radius: 50%; border-top: 10px solid #007fff; border-bottom: 10px solid #007fff; width: 50px; height: 50px; -webkit-animation: spin 2s linear infinite; animation: spin 1s linear infinite; position:relative; top:48%;margin:0 auto;}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-small{float:right !important; font-size:20px;}
 .download-btn{background-color:#9c27b0; color:#fff !important;padding: 12px 25px 14px 25px;border-radius:3px;}
.download-btn:hover{background-color:#afafaf; color:#000;}